* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    background-color: black;
    font-family: Arial, sans-serif;
  }
  
  header {
    height: 100px;
    background-color: #00000000;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  #backgroundImage {
    margin-top: 100px;
    width: 100%;
    height: calc(80vh - 98px);
    background: url("IMG/Ferrari-background.png") no-repeat center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    overflow: hidden;
  }

  .layer1 {
    background: url("IMG/Ferrari-objects.png") no-repeat center center;
    position: absolute;
    top: 20%;
    width: 100%;
    height: 100%;
    z-index: 100000;
  }

  .layer2 {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #coordinates {
    position: absolute;
    top: 10%;
    right: 20%;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border-color: black;
    font-family: Arial, sans-serif;
    z-index: 1001; 
    background-color: black;
  }
  
  #coordinates span {
    font-weight: bold;
  }